nav{
    width: 100%;
    height: 10vh;

    background-color: $color__nav;

    @include flexStructureRow;

    position: fixed;
    
    z-index: 100;

        .logotipo{
            width: 40%;
            height: 100%;

            @include flexStructureRow;

                img{
                    width: 70px;
                    height: 40px;
                }
        }

        .link{
            width: 60%;
            height: 100%;

            @include flexStructureRow;
            justify-content: right;
            padding-right: 30px;

            
                a{
                    margin: 0 5px 0 5px;
                    font-size: 2rem;

                    display: none;
                }

                .reserve{
                    display: block;
                }

        }
}

@media screen and (min-width: 600px) {
    nav{
        .link{
            a{
                display: flex;
            }
        }
    }
}
