// section
section{
    width: 100%;
    height: 100vh;

    padding: 10vh 20px 10px 20px;

    background-color: $color__backgrund;

        p{
            padding-left: 10px;
        }

        .textContainer{
            width: 100%;
            height: 40%;

            margin-top: 20px;
        }

        .carouselContainer{
            width: 100%;
            height: 50%;
            
            margin-top: 20px;

            position: relative;
            
                // button
                .buttonContainer {
                    width: 100%;
                    height: 20%;
        
                    @include flexStructureRow;
        
                    position: relative;
                    bottom: 20%;
        
                    z-index: 3;
                }

        }
}

// index__references
.index__references{
    width: 100%;
    height: 100vh;

    padding: 10vh 20px 10px 20px;

    background-color: $color__backgrund;

    .textContainer{
        width: 100%;
        height: 20%;

        @include flexStructureColumn;
    }

    .formContainer{
        width: 100%;
        height: 80%;

        @include flexStructureColumn;
    }
}

// for the pages menu.html and reserve.html
.section__2{
    width: 100%;
    height: 70%;

    background-color: transparent;
    position: absolute;
    top: 0;
    left: 0;

        .titleContainer{
            width: 100%;
            height: 20%;

            @include flexStructureColumn;
        }


        // menu.html
        .boxContainer{
            width: 100%;
            height: auto;

            display: flex;
            flex-wrap: wrap;
            justify-content: center;
        }


        // reserve.html
        .formAndFooterContainer{
            width: 100%;
            height: 80vh;

            @include flexStructureColumn;

                .formContainer{
                    width: 100%;
                    height: 60%;
            
                    margin: 60px 0 60px 0;

                    @include flexStructureColumn;
                }
        }
        }

        
// media
@media screen and (min-width:1000px){

    section{
        padding-bottom: 50px;
        @include flexStructureRow;

        .textContainer{
            width: 40%;
            height: 100%;

            padding: 10px;
            
                p{
                    margin-top: 50px;
                }
        }

        .carouselContainer{
            width: 60%;
            height: 100%;
        }
    }

    .index__references{
        width: 100%;
        height: 90vh;

        @include flexStructureRow;

        .textContainer{
            width: 40%;
            height: 100%;       
            
        }

        .formContainer{
            width: 60%;
            height: 100%;

            @include flexStructureColumn;

                form{
                    margin-bottom: 10px;
                }
        }
}

}