.boxReference{
    width: 80%;
    height: 220px;
   
    margin: 20px;
    padding: 10px 20px 5px 20px;
    background-color: $color__box;

    display: grid;
    grid-template-columns: 40% 60%;
    grid-template-rows: 20% 60% 20%;
    grid-template-areas:
    "nameSurname nameSurname"
    "profilePhoto comentary"
    "date date";

    border-radius: 10px;

        .profilePhoto{
            grid-area: profilePhoto;

                img{
                    width: 100%;
                    height: 100%;

                    object-fit: cover;
                }
        }

        .nameSurname{
            grid-area: nameSurname;
        }

        .comentary{
            grid-area: comentary;

            overflow-y: scroll;
        }

        .comentary::-webkit-scrollbar{
            width: 10px;
        }
        
        .comentary::-webkit-scrollbar-thumb{
            background-color: rgba(0, 0, 0, 0.397);
            border-radius: 20px;
        }

        .date{
            grid-area: date;

            @include flexStructureColumn;
            align-items: flex-end;
        }
}

@media screen and (min-width: 1000px) {
    .boxReference{
        width: 400px;
        height: 250px;
    }
}