// button for index
.myButton{
    width: 100px;
    height: 60px;

    background-color: $color__button;

    @include flexStructureColumn;
    
    font-size: 2rem;
    font-weight: bold;
    color: black;

    border: 0;
    border-radius: 10px;

    box-shadow: 0 0px 10px rgb(0, 0, 0);

}

.myButtonAnimation{
    
        animation-name: myButtonAnimation;
        animation-duration: 1.5s;
        
        animation-iteration-count: infinite;

}

@keyframes myButtonAnimation{
    0%{
        margin-bottom: 10px;
    }

    50%{
        margin-bottom: 30px;
    }
    100%{
        margin-bottom: 10px;
    }
}


// button for formularies
.myButtonFormulary{
    width: 100px;
    height: 40px;

    margin-top: 10px;
    background-color: $color__button;

    border: 0;
    border-radius: 10px;

    cursor: pointer;
}

.myButtonFormulary:hover{
    scale: 110%;
    border: 1px solid white;
    
}

.myButtonFormulary:active{
    background-color: rgb(226, 226, 226);
}



