        form{
            width: 80%;
            height: 80%;

            
            background-color: $color__form;

            @include flexStructureColumn;

            border-radius: 10px;

                input, select{
                    width: 80%;
                    height: 8%;
                }  

                input::placeholder{
                    color: black;
                }
                
                textarea{
                    width: 80%;
                    height: 20%;

                    resize: none;
                }

                label{
                    font-size: 1.5rem;
                }

                // share features
                    input, select, textarea{
                        margin: 5px;
                        padding-left: 10px;

                        background-color: $color__form-inputAndTextArea;

                        border: 1px solid;
                        border-radius: 5px;
                    }

                    input, select, textarea:focus{
                        outline: none;
                     }

        }

        .reserve-form{
            width: 60%;
            height: 100%;
        }

        @media screen and (min-width: 1000px){
            form, .reserve-form{
                width: 400px;
                height: 400px;
            }
        }