// title on index
h1{
    font-size: 10rem; 
    font-family: 'Crimson Text', serif;
    
    text-shadow: 1px 5px 10px black;
    color: white;
}
// subtitle on index
h2{
    font-size: 1.5rem;
    text-shadow: 1px 5px 10px black;
}
// titles on pages
h3{
    font-size: 8rem;
}

h2, h3, h4, h5, h6, p{
    font-family: 'Raleway', sans-serif;
    color: white;
    font-weight: 500;
}

// sections on index
h4{
    font-size: 3rem;
}

// box titles on pages
h5{
    font-size: 3rem;
}
 
// box subtitles on pages
h6{
    font-size: 2rem;
}


p{
    font-size: 1.2rem;
}

a{
    color: white;
    font-family: 'Raleway', sans-serif;
}

a:hover{
    color: white;
    border-bottom: 1px solid white;
}

.buttonContainer{
    a:hover{
        color: black;
    }    
}
    
.socialMedia{
    a:hover{
        border-bottom: 0;
    }
}


@media screen and (min-width: 700px){
    h1{
        font-size: 20rem;
    }

    h2{
        font-size: 3rem;
    }

    h4{
        font-size: 4.5rem;
    }

    h6{
        font-size: 2.5rem;
    }

    p{
        font-size: 1.8rem;
    }
}

@media screen and (min-width: 1000px){
    h4{
        font-size: 8rem;
    }

    p{
        font-size: 2rem;
    }
}