@mixin flexStructureColumn{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

@mixin flexStructureRow{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}